body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #e0e0e0;
}

header {
    background: #222;
    color: white;
    text-align: center;
    padding: 25px;
}

img {
    display: block;
    margin: 20px auto;
    border-radius: 10px;
}

section {
    background: white;
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
}

footer {
    text-align: center;
    background: #222;
    color: white;
    padding: 15px;
}